@import "@catppuccin/palette/style";
@import "fonts.css";
@import "catppuccin-helpers.css";
@import "reset.css";
@import "sizing.css";
@import "typography.css";

:root {
  --border-radius: var(--s-2);
}

.testing {
  outline: 1px solid #f4206988;
  background-color: #f4206944;
  padding: 4px;
  margin: -4px;
  border-radius: 4px;
}
