@import "@catppuccin/palette/style";
@import "catppuccin-helpers.css";
@import "reset.css";
@import "sizing.css";
@import "oneliners.css";
@import "typography.css";
@import "tokipona.css";

:root {
  --color-primary: var(--ctp-mauve);

  --border-radius: var(--s-2);
  --border-thin: 2px;
}

mark,
.testing {
  outline: var(--border-thin) solid #f4206988;
  background-color: #f4206944;
  color: currentColor;
  padding: 4px;
  margin: -4px;
  border-radius: 4px;
}

#nuxt-devtools-iframe {
  max-inline-size: unset;
}
