@font-face {
  font-family: "linja suwi";
  src: url("../fonts/linjasuwi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nasin nanpa";
  src: url("../fonts/nasin-nanpa-2.7.1.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fairfax Pona HD";
  src: url("../fonts/FairfaxPonaHD.eot");
  src: url("../fonts/FairfaxPonaHD.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "linja lipamanka";
  src: url("../fonts/linjalipamanka.woff") format("woff");
  src: url("../fonts/linjalipamanka.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "leko majuna";
  src: url("../fonts/lekomajuna.ttf") format("truetype");
  font-display: swap;
}

:root {
  --font-sitelen-pona: "nasin nanpa", cursive;
  --font-sitelen-lasina: "Nunito", cursive;
}

/* toki pona - sitelen Lasina */

:lang("tok-Latn"),
.font-tp-sl,
.tp-sl {
  font-family: var(--font-sitelen-lasina);
  font-size: 108%;
  font-weight: 600;
}

strong:lang("tok-Latn"),
b:lang("tok-Latn"),
strong :lang("tok-Latn"),
b :lang("tok-Latn"),
strong.font-tp-sl,
b.font-tp-sl,
strong.tp-sl,
b.tp-sl {
  font-family: var(--font-sitelen-lasina);
  font-weight: 900;
}

h1 :lang("tok-Latn"),
h2 :lang("tok-Latn"),
h3 :lang("tok-Latn"),
h4 :lang("tok-Latn"),
h5 :lang("tok-Latn"),
h6 :lang("tok-Latn") {
  font-weight: 800;
}

/* toki pona - sitelen pona */

:lang("tok-x-stlnpona"),
[lang="tok-x-stlnpona"],
.font-tp-sp,
.tp-sp {
  font-family: var(--font-sitelen-pona);
  font-size: 1.5rem;
  font-feature-settings: "kern" 1, "cv70" 1, "cv77" 1, "cv80" 1, "cv90" 1,
    "cv91" 1, "ss19" 1, "liga" 1;
  /* white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: normal; */
}

/* ruby annotations */
rt,
rtc {
  font-size: 50% !important;
}

rt * {
  font-size: inherit !important;
}

rt mark {
  display: inline-flex;
}

/* quotation marks */
:lang("tok-x-stlnpona") q,
[lang="tok-x-stlnpona"] q {
  quotes: "te" "to";
}
/* should a sitelen Lasina quote look like "te "toki toki toki" to"? */
