:root {
  --measure: 70ch;
  --font-size-adapt: .333vw;
  --line-height: 1.6;
  --font-plain: sans-serif;
  font-size: var(--s0);
}

/* fonts */

body {
  font-family: var(--font-plain);
  /* 1rem at minimum, so it never drops below the system/browser/user defined value */
  line-height: var(--line-height);
}

/* measure */

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

/* headers */

h1 {
  font-size: var(--s4);
}

h2 {
  font-size: var(--s3);
}

h3 {
  font-size: var(--s2);
}

h4 {
  font-size: var(--s1);
}

h1,
h2,
h3,
h4 {
  color: var(--ctp-mauve);
}

:is(h1, h2, h3, h4) a {
  color: inherit;
  text-decoration: none;
}

/* code, pre */

pre code .line+.line {
  line-height: 1.5;
  margin-block-start: 0;
}

pre {
  font-size: var(--s-1);
}
